body{
    background-image: url(https://img.freepik.com/vecteurs-libre/conception-abstraite-low-poly_1048-11910.jpg?t=st=1727104949~exp=1727108549~hmac=65137763a55dfa2266b531953c56177537d87bc584f39ce0b9b4c8674fbc66f3&w=996);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}